@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <div>
        <img height="200" style="padding:30px" src="https://upload.wikimedia.org/wikipedia/vi/thumb/8/80/FPT_New_Logo.png/1200px-FPT_New_Logo.png" />
        <img height="200" src="https://www.terabox.vn/wp-content/uploads/2018/08/azure.microsoft.com_.png" />
        <img height="200" src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/ee/.NET_Core_Logo.svg/1200px-.NET_Core_Logo.svg.png" />

    </div>
    <h1 class="display-4">Cloud Computing - KiemHH</h1>
    <br />
    <h6>Member</h6>
    <p>Tran Viet Dong - SE05344</p>
    <p>Dao Thi Hoai Thuong - SE62884</p>
    <p>Nguyen Gia Huy - SE63158</p>
    <p>Nguyen Ba Truong - SE60919</p>
    <p>Learn about <a href="https://portal.azure.com/#home">building Web apps with Azure Cloud vs .NetCore</a>.</p>
</div>
